{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}

<div class = "container-fluid" id="login">
<div class="login_bgrd">
    <h2>Login to access beta.</h2>


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
{% endif %}
{% endif %}
    
    
    
<div class="form-group">
    <form method="post" action="{% url 'login' %}" >
{% csrf_token %}
Username:
{{ form.username | add_class:"form-control" }} <br>
Password:
{{ form.password | add_class:"form-control"}}

<button type="submit" class="btn btn-primary">Login</button>
<input type="hidden" name="next" value="{{ next }}">
</form>
    </div>



<!--
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
-->
    
    
    </div>
</div>


{% endblock %}