{% extends 'layout.html' %}
{% load static %}

<h1>Bookings</h1>

{% block content %}
<div class="container-fluid booking">
<div class="container" id="profile_content">
   <div class="container" id="booking_form_text"><h3>Delete {{ booking.title }}?</h3></div>
<div class="container delete_booking">
    <form  method ="POST">
    {% csrf_token %}
   <button type='submit' class='btn btn-danger' value="Delete">Delete Booking</button>
    </form> 
    <a href="{% url 'booking:booking_list' %}">Cancel</a>
    </div>


</div>
    </div>

{% endblock %}