{% extends 'layout.html' %}
{% load static %}

<h1>Bookings</h1>

{% block content %}

<div class="container-fluid booking">
    <div class="container" id="booking_detail_text"><h3>Booking details</h3></div>
    <div class="container" id="booking_content">
        <div class="container card">
        <div class="container confirmed">
        <h3 class="card-title">{{ booking.title }}&nbsp&nbsp</h3>
        {% if booking.is_confirmed %}
      <p class="confirmed">This booking is confirmed.&nbsp&nbsp</p><img class="check" src="/static/css/check.svg">
        {% else %}
        <p class="confirmed">This booking has not yet been confirmed by the requested expert. You will receive an email upon confirmation.&nbsp&nbsp<img class="x" src="/static/css/warning.svg"></p>
        {% endif %}
            
            </div>    
       <div class="container">
        <p>{{ booking.start_time }}</p>
        <p>Booking made by: {{ booking.user }}</p>
        <p>Scipertise Researcher: {{ booking.expert }}</p>
        {% if booking.is_tutorial %}
            <p>This booking is a group session limited to 5 people</p>
            <p><strong>Description: </strong>{{ booking.description }}</p>
           <p> Please contact founders@scipertise.com to see if there are any spaces remaining.</p>
        {% endif %}  
            
    </div>

    </div>

{% if not booking.is_confirmed and user.expert and booking.expert == request.user %}
  <div><a href="{% url 'booking:confirm_booking' pk=booking.pk %}"><button type='submit' class='booking_button'>Confirm Booking Request</button></a></div> 
{% endif %}
  <div><a href="{% url 'booking:booking_update' pk=booking.pk %}"><button type='submit' class='booking_button'>Edit Booking Request</button></a></div> 
   <div><a href="{% url 'booking:booking_delete' pk=booking.pk %}"><button type='submit' class='booking_button'>Delete Booking</button></a></div> 
    </div>
  
</div>



{% endblock %}