{% extends 'layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid" id="profile_container">
   <div class="container profile">
    <div class="container spacer">
            </div>
    
    <div class="container" id = "profile_intro">  
        <div class="container" id="expert">
            {% if user.image %}
            <div>
                <img class="profile_image" src="{{ user.image.url }}" width="180"/>
            </div>
            {% endif %}
            <div class="container user_name">
            <p class="profile_name">{{ user.first_name }}&nbsp{{ user.last_name }}</p>
            <p class="profile_text">{{user.position}}</p>
<!--            <p class="profile_text">Skills:&nbsp{{user.skills.all|join:", "}}</p>-->
        
                
                <div class="container skills">
                {% for skill in user.skills.all %}
                <div class="skill_bubble"><p class="skill_bubble">{{ skill.name }}</p></div>
                {% endfor %}
                </div>
            </div>

        </div>
  
        

        <div class="container" id="availability">
                                
            <p>Availability: {{ user.availability }}</p>
            <p>Rate: {{ user.rate }}</p>
                {% if user.website %}
                <a href="{{ user.website }}" target="_blank"><p>Google Scholar Profile</p></a>
                {% endif %}
            {% if user != request.user %}
                <a href="{% url 'booking:user_booking_new' pk=user.pk %}"><button type="submit" class="availability_button">Request to Book</button></a><br>
            {% if user.gives_tutorials %}
                <p>or <a href="#tutorial">Join a group session</a></p>
            {% endif %}
            {% elif user.is_authenticated and user == request.user %}
                <div class="edit_profile"><p class="skill_bubble">Edit Profile&nbsp&nbsp<a href="{% url 'edit_profile' %}"><img class="iconic" src="/static/css/pencil.svg"></a></p></div>
            {% endif %}
           
            
 
            </div>

    </div>
       <div class="container spacer">
            </div>
       </div>
<div class="container profile">
    <div class="container spacer">
            </div>
     <div class="container" id="profile_content">
         <div class="profile_content_text">
         <h4 class="bio_title">About Me:</h4>
         <p class="profile_text">{{ user.bio }}</p>
         {% if user.skill_area1 %}<br>
         <h4 class="bio_title">Expertise:</h4>
         <h4 class="text_title">{{ user.skill_area1_title }}</h4>
         <p class="profile_text">{{ user.skill_area1 }}</p>
         {% endif %}
          {% if user.skill_area2 %}
         <h4 class="text_title">{{ user.skill_area2_title }}</h4>
          <p class="profile_text">{{ user.skill_area2 }}</p>
           {% endif %}
          {% if user.skill_area3 %}
         <h4 class="text_title">{{ user.skill_area3_title }}</h4>
          <p class="profile_text">{{ user.skill_area3 }}</p>
         {% endif %}
           {% if user.skill_area4 %}
         <h4 class="text_title">{{ user.skill_area4_title }}</h4>
         <p class="profile_text">{{ user.skill_area4 }}</p>
            {% endif %}
           {% if user.skill_area5 %}
         <h4 class="text_title">{{ user.skill_area5_title }}</h4>
          <p class="profile_text">{{ user.skill_area5 }}</p>
          {% endif %}<br>
          {% if user.software_hardware %}
          <h4 class="bio_title">Software and Hardware:</h4>
         <p class="profile_text">{{ user.software_hardware }}</p>
          {% endif %}
         {% if user.tutorial_area %}
          <h4 class="bio_title">I can lead group sessions on:</h4>
         <p class="profile_text">{{ user.tutorial_area }}</p>
          {% endif %}
       </div>
    </div>
     <div class="container spacer">
            </div>
    </div>

    

 <a name="tutorial"></a>   
    
<div class="container profile">
       <div class="container spacer">
            </div>
<div class="container" id="profile_content">  
    <div class="profile_content_text">
{% if user.gives_tutorials and tutorials %}
<h4 class="bio_title">{{user.first_name}}'s scheduled group sessions</h4>
{% for booking in tutorials %}

    <div class="container card">
        <h5 class="card-title"><a href="{% url 'booking:booking_detail' pk=booking.pk %}">{{ booking.title }}</a></h5>
        <p class="card-text">{{ booking.start_time }}</p>
    </div>

{% endfor %}
{% else %}
        <div class="container card">
       <p class="profile_text">This user is not currently hosting any tutorials<p>
    </div>
        {% endif %}
      

</div>
    
</div>
       <div class="container spacer">
            </div>
</div>


</div>

{% endblock %}