{% extends 'layout.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="container-fluid search">
    <div class="container" id="search_form">
            <form class="form-group" action="{% url 'search:search_users' %}" method="GET" value="{{request.GET.q}}">
            <h3 id="search_call_to_action">Find researchers</h3>
                <input class="form-control form-control-lg" id="search" type="text" name="q" value="{{request.GET.q}}" placeholder="Enter a skill, technique, software or area of expertise"/>
                <button class="availability_button" type="submit" name="submit" value="Search">Search</button>
            </form>
        </div>

        {% if submitbutton == 'Search' and request.GET.q != '' %}
        {% if results %}
        
        <div class="container" id="search_results">
        <h3>Researchers Matching "<b>{{ request.GET.q }}</b>"</h3>
        <br/><br/>

        {% for result in results %}

        <div class="container" id="search_hit">
        <div class="container" id="expert">
            {% if result.image %}
            <div>
                <img class="profile_image" src="{{ result.image.url }}" width="100"/>
            </div>
            {% endif %}
            <div class="container user_name">
            <p class="profile_name"><a href="{% url 'profile_with_pk' pk=result.pk %}">{{ result.first_name }}&nbsp{{ result.last_name }}</a></p>
            <p class="profile_text">{{result.position}}</p>
<!--            <p class="profile_text">Skills:&nbsp{{user.skills.all|join:", "}}</p>-->
        
                
                <div class="container skills">
                {% for skill in result.skills.all %}
                <div class="skill_bubble"><p class="skill_bubble">{{ skill.name }}</p></div>
                    {% endfor %}
                
                </div>
                 <div class="browse_bio"> {{result.bio }}</div>
            </div>

        </div>
        </div>



        {% endfor %}
        {% else %}
       <div class="container"><p class="profile_text">No search results for this query.<br>Please try searching for a specific skill, software, or area of expertise.</p></div> 
        {% endif %}
        {% endif %}

        {% endblock %}
    </div>
    
</div>
